[Unit]
Description=vncsupervisor
After=graphical.target network-online.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/supervisor/.Xauthority"
Type=simple
ExecStart=/opt/aplikacja/ClientQt.sh
User=supervisor
RestartSec=10s
Restart=on-failure

[Install]
WantedBy=default.target
